<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-info">
          <h4>Sobre Nós</h4>
          <p>Somos uma empresa fictícia dedicada a oferecer os melhores produtos para nossos clientes.</p>
        </div>
        <div class="col-md-4 footer-info">
          <h4>Contato</h4>
          <p>Email: contato&#64;empresa.com</p>
          <p>Telefone: (11) 1234-5678</p>
          <p>Endereço: Rua Fictícia, 123, São Paulo, SP</p>
        </div>
        <div class="col-md-4 footer-info">
          <h4>Redes Sociais</h4>
          <p>Siga-nos nas redes sociais:</p>
          <p>
            <a href="#">Facebook</a> | 
            <a href="#">Twitter</a> | 
            <a href="#">Instagram</a>
          </p>
        </div>
      </div>
    </div>
  </footer>