<div class="container">
  <h1 class="text-center">Cadastro de Cliente</h1>

  

  <form (ngSubmit)="onSubmit()">
    <!-- Nome -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="customer.nome" name="nome" required>
    </div>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email" required>
    </div>
    <!-- CEP -->
    <div class="form-group">
      <label for="cep">CEP</label>
      <div class="input-group">
        <input type="text" class="form-control" id="cep" [(ngModel)]="customer.cep" name="cep" placeholder="Digite seu CEP" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="onSearchButton()">Buscar CEP!</button>
        </span>
      </div>
    </div>
    <!-- Endereço -->
    <div class="form-group">
      <label for="endereco">Endereço de Entrega</label>
      <input type="text" class="form-control" id="endereco" [(ngModel)]="customer.endereco" name="endereco" required>
    </div>
    <!-- Cidade -->
    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" [(ngModel)]="customer.cidade" name="cidade" required>
    </div>
    <!-- Estado -->
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" class="form-control" id="estado" [(ngModel)]="customer.estado" name="estado" required>
    </div>
    <!-- Usuário -->
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text" class="form-control" id="usuario" [(ngModel)]="customer.usuario" name="usuario" required>
    </div>
    <!-- Senha -->
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="customer.senha" name="senha" required>
    </div>
    <!-- Confirmar Senha -->
    <div class="form-group">
      <label for="confirmar-senha">Confirmar Senha</label>
      <input type="password" class="form-control" id="confirmar-senha" [(ngModel)]="customer.confirmarSenha" name="confirmarSenha" required>
    </div>
    <!-- Botão de Envio -->
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>